/*referance https://api.jquery.com/click/ */
/*https://en.wikipedia.org/wiki/Your_Lie_in_April*/
@import "compass";
@import "compass/reset";
@import "variables";
@import "mixins";
@import "base";

@charset "UTF-8";

@mixin transition($time) {
  transition: all $time+s;
  -moz-transition: all $time+s;
  -webkit-transition: all $time+s;
  -o-transition: all $time+s;
}

@mixin navIconOpacity() {
  position: absolute;
  top: 300px;
  &:hover {
    opacity: 0.5;
  }
}

@mixin boxshadow() {
  box-shadow: 0px 0px 5px;
}

@mixin positionIndicator() {
  @include transition(0.4);
  .isHere {
    height: 20px;
    background-color: #2b81af;
    padding: 15px;
  }
}

@mixin blur($degree) {
  -webkit-filter: blur($degree+px);
  filter: blur($degree+px);
}

html, body {
}

head {
  margin-bottom: auto;
}

.pictureHeader {
  object-fit: cover;
  & > img {
    @include blur(2);
    width: 100%;
    opacity: 0.8;
  }
}

body {
  background-attachment: fixed;
  background-image: url("../media/picture1.jpg");
  background-size: 100%;
}

.trailer {
  display: block;
  @include boxshadow();
  margin: auto auto;
}

nav.navbar {
  @include transition(0.4);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 40px;
  position: fixed;
  background: #D07EAC;
  padding: 15px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  .container {
    padding-top: 5px;
  }

  &.small {
    padding: 15px;
    background-color: #F4AFD6;
    opacity: 0.8;
    font-weight: 400;
    font-size: 25px;
    height: 25px;

    @include blur(1);
  }

  a {
    &:link {
      text-decoration: none;
      color: darkslateblue;
    }
    &:visited {
      color: darkslateblue;
      text-decoration: none;
    }
    &:hover {
      color: darkslategray;
    }
  }

}

#Trail {
  @include positionIndicator();
}

#stor {
  @include positionIndicator();
}

#charac {
  @include positionIndicator();
}

#chrou {
  @include positionIndicator();
}

.isHere {
  height: 20px;
  background-color: #2b81af;
  padding: 15px;
}

.introduction {
  font-size: 25px;
  padding-bottom: 50px;
  text-indent: 50px;
  background-color: rgba(230, 139, 125, 0.9);
  @include blur(2px);
  & > .story {
    padding-top: 50px;
    width: 1280px;
    margin: auto;
  }
  & > video {
    width: 100%;
    height: auto;
  }
}

.carouselpictures {

  padding-top: 20px;
  padding-bottom: 20px;
  @include blur(5px);
  background-color: rgba(194, 105, 145, 0.9);
  & > #carousel {
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    box-shadow: 0 0 22px;
    overflow: hidden;

    ul {
      list-style: none;
      position: relative;
      width: 5120px;
      left: -1280px;
    }

    ul li {
      width: 1280px;
      height: 720px;
      text-align: left;
      list-style: none;
      float: left;
    }
  }
}

.navIcon {
  position: absolute;
}

#navIconRight {
  left: 1225px;
  @include navIconOpacity;
}

#navIconLeft {
  left: auto;
  @include navIconOpacity;
}

.charPicture {
  background-color: rgba(230, 139, 125, 0.9);;
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
  padding-bottom: 200px;
  :hover {
    @include transition(0.5);
    opacity: 0.8;
  }
  > a {
    position: relative;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.modalWindows {
  position: fixed;
  font-family: sans, Helvetica;
  top: 50px;
  button: 40px;
  left: 30px;
  right: 40px;
  opacity: 0;
  z-index: 200;
  pointer-events: none;
  background-color: lightgray;
  animation-name: backgroundColor;
  animation-duration: 4s;
  animation-iteration-count: 300;
  @include transition(0.4);

  &:target {
    opacity: 0.8;
    pointer-events: auto;
  }
  & > div {
    background-image: url("../media/background2.jpg");
    position: relative;
    width: 400px;
    margin: 300px auto;
    padding: 30px 30px 30px 30px;
  }
}

.closeButton {
  background-color: lightpink;
  position: absolute;
  top: -15px;
  left: -15px;
  line-height: 35px;
  text-align: center;
  width: 24px;
  @include boxshadow();

  &:hover {
    background: deeppink;
    opacity: 0.7;
  }
}

.foot {
  animation-name: backgroundColor;
  animation-duration: 4s;
  animation-iteration-count: 300;
  @include transition(0.4);
  text-align: center;
  font-family: "Bebas Neue", sans-serif;;
  font-size: 25px;
  padding: 15px;
  float: left;
  width: 100%;
  border: none;
  & > div {
    display: inline;
    top: 50%;
    margin: auto 15px;
  }
}

@keyframes backgroundColor {
  0% {
    background-color: #F4AFD6;
  }
  25% {
    background-color: #ff8d92;
  }
  50% {
    background-color: #ff8486;
  }
  100% {
    background-color: #F4AFD6;
  }
}

